body {
    font-family: Arial;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    background: #30391f;
    width: 1000px;
}

h2 {
    font-family: 'Special Elite', cursive;
}
  
.header {
    padding: 0px;
}

#banner {
    max-width:98%;
    height:auto;
    border: 10px solid #829C53;
}

.leftcolumn {   
    float: right;
    width: 70%;
    font-weight: lighter;
}

.rightcolumn {
    float: right;
    width: 28%;
    margin-right: 20px;
}
  
.cuadro_texto {
    background-color: #668A4C;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 30px;
    line-height: 1.5em;
    margin-bottom: .5em;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.800);
}

.bloque {
     background-color: #829C53;
     padding: 20px;
     margin-top: 20px;
}

.bloque h3 {
    font-family: 'Special Elite', cursive;
}

.bloque a {
    font-family: 'Lobster Two', cursive;
}

.bloque img {
    max-width:100%;
    height:auto;
}

.disqus_thread a {
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#audio {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#res {
    margin-left: 2em;
}

.cita {
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cita ul li {
    margin-left: 1em;
    display: inline-block;
}

.cita a{
    font-family: sans-serif;
    text-decoration: underline;
}

.glosario{
    text-justify: inter-word;
    margin-left: 50px;
    text-align: justify;
    margin-bottom: 65px;
    margin-top: 65px;
    font-style: normal;
}

.glosario {
    font: 1rem sans-serif;
}

.glosario p,dt {
    font-weight: bold;
}

.glosario dl,dd {
    font-size: .9rem;
}

.glosario dd {
    margin-bottom: 1em;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    background-color: #829C53;
}
